<!-- Hero -->
<section class="hero-section" id="Home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Play Ville</h1>
        <img class="hero-img" src="/img/hero/logo.png" alt="Logo" loading="lazy" />
        <div class="hero-wrapper">
        <p class="hero-big-text">Your Virtual Life Starts Here!</p>
        <p class="hero-text">Create your avatar, meet new friends, and build your dream world in PlayVille.</p>
    </div>
    </div>
</section>
<!-- Game Description -->
<section class="game-section" id="Game">
    <div class="container">
        <h2 class="game-title">Game Description</h2>
        <p class="game-text">PlayVille is your digital playground — create a stylish avatar, decorate your space, and make real social connections.
        Dive into events, parties, and endless self-expression in one vibrant virtual world!</p>
        <picture>
            <source srcset="
            /img/game/game-desk.png  1x,
            /img/game/game-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
            <source srcset="
            /img/game/game-mob.png 1x,
            /img/game/game-mob@2x.png 2x
                             " media="(max-width: 1438px)" />
            <img class="game-img" src="/img/game/game-mob.png" alt="Play Ville" loading="lazy" />
        </picture>
        <img class="game" src="/img/game/game.png" srcset="/img/game/game.png 1x, /img/game/game@2x.png 2x"
            alt="Play Ville" loading="lazy" />
    </div>
</section>
<!-- Gallery -->
 <section class="gallery-section" id="Gallery">
    <div class="container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png  1x,
             /img/gallery/one-desk@2x.png 2x
         " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/one.png 1x,
                /img/gallery/one@2x.png 2x
         " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/one.png" alt="Play Ville" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                    /img/gallery/two-desk.png  1x,
                         /img/gallery/two-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                                    /img/gallery/two.png 1x,
                            /img/gallery/two@2x.png 2x
                     " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/two.png" alt="Play Ville" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                    /img/gallery/three-desk.png  1x,
                         /img/gallery/three-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                                    /img/gallery/three.png 1x,
                            /img/gallery/three@2x.png 2x
                     " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/three.png" alt="Play Ville" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                    /img/gallery/four-desk.png  1x,
                         /img/gallery/four-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                                    /img/gallery/four.png 1x,
                            /img/gallery/four@2x.png 2x
                     " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/four.png" alt="Play Ville" loading="lazy" />
                    </picture>

            </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                    /img/gallery/five-desk.png  1x,
                         /img/gallery/five-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                                    /img/gallery/five.png 1x,
                            /img/gallery/five@2x.png 2x
                     " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/five.png" alt="Play Ville" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                    /img/gallery/six-desk.png  1x,
                         /img/gallery/six-desk@2x.png 2x
                     " media="(min-width: 1439px)" />
                        <source srcset="
                                    /img/gallery/six.png 1x,
                            /img/gallery/six@2x.png 2x
                     " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/six.png" alt="Play Ville" loading="lazy" />
                    </picture>
                </div>
            </div>
        </div>

        <div class="custom-navigation gallery-nav">
            <button class="custom-arrow custom-prev" aria-label="Previous slide">
                <img class="arrow" src="/img/btn.png" alt="Arrow" loading="lazy" >
            </button>
            <button class="custom-arrow custom-next" aria-label="Next slide">
                <img class="arrow" src="/img/btn.png" alt="Arrow" loading="lazy">
            </button>
        </div>
    </div>
 </section>
 <!-- How to Play -->
<section class="play-section" id="Play">
    <div class="container">
        <h2 class="play-title">How to Play</h2>
        <ul class="play-list">
            <li class="play-item">
                <img class="play-img" src="/img/play/one.png" alt="Play Ville" loading="lazy" />
                <h3 class="play-item-title">Create Your Avatar</h3>
                <p class="play-text">Customize your look from head to toe.</p>
            </li>
            <li class="play-item">
                <img class="play-img" src="/img/play/two.png" alt="Play Ville" loading="lazy" />
                <h3 class="play-item-title">Meet New Friends</h3>
                <p class="play-text">Explore virtual places and chat in real time.</p>
            </li>
            <li class="play-item">
                <img class="play-img" src="/img/play/three.png" alt="Play Ville" loading="lazy" />
                <h3 class="play-item-title">Decorate Your Space</h3>
                <p class="play-text">Unlock stylish furniture and personalize your room.</p>
            </li>
            <li class="play-item">
                <img class="play-img" src="/img/play/four.png" alt="Play Ville" loading="lazy" />
                <h3 class="play-item-title">Join Events</h3>
                <p class="play-text">From dance-offs to trivia nights – there's always something happening.</p>
            </li>
            <li class="play-item">
                <img class="play-img" src="/img/play/five.png" alt="Play Ville" loading="lazy" />
                <h3 class="play-item-title">Express Yourself</h3>
                <p class="play-text">Fashion, emojis, poses – show off your vibe!</p>
            </li>
        </ul>
    </div>
</section>
<!-- User Reviews -->
 <section class="reviews-section" id="Reviews">
    <div class="container">
        <h2 class="reviews-title">User Reviews</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper reviews-swiper-wrapper">
                <div class="swiper-slide reviews-swiper-slide">
                   <h3 class="reviews-item-title">Lily D.</h3>
                   <p class="reviews-text">“So much fun dressing up and chatting with people!”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <h3 class="reviews-item-title">Jay M.</h3>
                    <p class="reviews-text">“Feels like a mini metaverse in my phone.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <h3 class="reviews-item-title">Kiara T.</h3>
                    <p class="reviews-text">“I met my bestie here. Love the events!”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <h3 class="reviews-item-title">Zane K.</h3>
                    <p class="reviews-text">“Customization is 🔥. The outfits are super cute!”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <h3 class="reviews-item-title">Nina Y.</h3>
                    <p class="reviews-text">“Can’t stop playing — it’s my new favorite hangout!”</p>
                </div>
            </div>
        </div>

     <div class="custom-navigation reviews-nav">
    <button class="custom-arrow reviews-custom-prev" aria-label="Previous slide">
    <img class="arrow" src="/img/btn.png" alt="Arrow" loading="lazy">
    </button>
<button class="custom-arrow reviews-custom-next" aria-label="Next slide">
    <img class="arrow" src="/img/btn.png" alt="Arrow" loading="lazy">
    </button>
          </div>
    </div>
 </section>
 <!-- FAQ -->
<section class="faq-section" id="FAQ">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                      Is PlayVille free?

                        <span class="faq-acc-arr arr-down">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Yes! You can play for free with optional in-app purchases.</p>
            </li>
            <li class="faq-acc-el faq-current">
              <h3 class="faq-acc-el-title">
                  <button type="button" class="faq-acc-el-trigger">
                    Can I play with friends?

                      <span class="faq-acc-arr arr-down">
                          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                      </span>
                  </button>
              </h3>

              <p class="faq-acc-el-descr-frame">Totally! Add friends, visit rooms, and chat together in real-time.</p>
          </li>
          <li class="faq-acc-el faq-current">
            <h3 class="faq-acc-el-title">
                <button type="button" class="faq-acc-el-trigger">
                  Do I need internet to play?

                    <span class="faq-acc-arr arr-down">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </h3>

            <p class="faq-acc-el-descr-frame">Yes, an internet connection is required to explore the social features.</p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
              <button type="button" class="faq-acc-el-trigger">
                Are there regular updates?

                  <span class="faq-acc-arr arr-down">
                      <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                  </span>
              </button>
          </h3>

          <p class="faq-acc-el-descr-frame">Absolutely – new items, events, and content arrive all the time.</p>
      </li>
      <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              Is this safe for kids?

                <span class="faq-acc-arr arr-down">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18H27M18 27V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </button>
        </h3>
        <p class="faq-acc-el-descr-frame">PlayVille is designed for teens and up, with moderation in place.</p>
    </li>
        </ul>
        <img class="faq-img" src="/img/faq/mob.png" srcset="/img/faq/mob.png 1x, /img/faq/mob@2x.png 2x"
        alt="Play Ville" loading="lazy" />
    </div>
</section>
<!-- Step Into Your Social Universe -->
<section class="step-section">
    <div class="container">
        <span style="display: none;">Generated:2025-05-27, Hash:jjhy5545</span>
        <h2 class="step-title">Step Into Your Social Universe</h2>
        <p class="step-text">Customize, connect, and create your perfect virtual self in PlayVille.</p>
    </div>
</section>
