body{
  font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #000;
    background-color: #ffffff;
}
h2{
  font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
}
h3{
  font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #000;
    text-shadow:
        -1px -1px 0 #3DB2CB,
        1px 1px 0 #3DB2CB,
        -1px 1px 0 #3DB2CB,
        1px 1px 0 #3DB2CB;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 20px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 20px;
  }
}
