.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  height: auto;
  width: 100%;
  z-index: 1003;
}

.header-container {
  padding: 0;
}
.header-wrapper{
  backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    height: 66px;
    align-items: center;
    padding: 8px 19px;
    margin-top: 10px;
  }
.menu-button {
  background-image: url("/img/header/btn.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right:0;
  margin-left: auto;
  width: 50px;
    height: 50px;
    cursor: pointer;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.15);
  width: 374px;
  height: 741px;
  z-index: 1000;
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 150px 40px 100px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 24px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.menu-list-item {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #fff;
  transition: text-shadow 0.3s ease;
  cursor: pointer;
}

.menu-list-item:hover,
.menu-list-item:active {
  text-shadow:
      -1px -1px 0 #3DB2CB,
      1px 1px 0 #3DB2CB,
      -1px 1px 0 #3DB2CB,
      1px 1px 0 #3DB2CB;
}

@media screen and (min-width: 1440px) {
  .header {
    height: 69px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
      background: #fff;
  }
.header-wrapper {
display: none;
}
  .header-img {
    display: none;
  }

  .header-container {
    padding: 25px 121px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}